<!--HTML Template for /about page
Gives informations on how the application works and what it does
Accessed by "Learn more" button @ Home page-->

<!-- Nav bar -->
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/home">HireMe</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
		<!--<div ng-view>
		to improve:
		display signin/login if no session
		display logout if session
		</div>-->
			<li><a href="/signin"><span class="glyphicon glyphicon-user"></span> Inscription</a></li>
			<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		</ul>
	</div>
</nav>