<!--HTML Template for /about page
Gives informations on how the application works and what it does
Accessed by "Learn more" button @ Home page-->

<!-- Nav bar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">HireMe</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/signin"><span class="glyphicon glyphicon-user"></span> Inscription</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>

<!--About speech-->
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">About Application</h3>
    </div>
    <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis consectetur libero, in dapibus sapien varius et. Vestibulum laoreet lacus nisi, ut suscipit leo scelerisque nec. Duis aliquam mattis sollicitudin. Quisque quis tincidunt ante,
            id laoreet orci. Etiam ligula ante, ultricies ac nunc ut, sodales fringilla magna. Vivamus at massa egestas, maximus orci vel, dignissim metus. Aliquam magna urna, maximus ut neque tincidunt, varius egestas nunc. Praesent eu purus lacus. Fusce
            et sapien enim. Aenean scelerisque nibh lorem, eu vulputate justo suscipit vitae. Nullam dictum nulla velit. Sed tempus nec arcu nec pretium.</p>
        <p>Sed facilisis tincidunt mauris vitae accumsan. Mauris tempus luctus molestie. Morbi maximus semper egestas. Proin a eros vel erat luctus tincidunt nec in ligula. Morbi aliquam ut dolor nec vestibulum. Nulla bibendum nisi leo, et sodales mauris
            facilisis eget. Pellentesque cursus arcu vitae pulvinar scelerisque.</p>
        <p>Donec rutrum, risus sed vehicula accumsan, risus risus venenatis ante, mollis sollicitudin sem orci et neque. Nunc nec tortor pellentesque, mollis libero sed, lobortis elit. Cras vitae dictum orci, non varius magna. Integer congue lobortis justo
            eu elementum. Ut eu enim vehicula risus gravida lobortis. Aenean non justo imperdiet, mattis odio at, ullamcorper erat. Nulla dignissim, sem eu rutrum fermentum, lacus augue malesuada nisi, fringilla pretium dolor eros faucibus justo. Sed
            ornare malesuada sodales. Quisque eleifend sapien at lectus elementum convallis. Praesent et consectetur eros, eu suscipit odio. Curabitur hendrerit accumsan mi quis efficitur. Vivamus et lectus maximus, vulputate tortor eu, lacinia eros.
            Aliquam placerat mi tortor, id iaculis sapien vehicula ut.</p>
    </div>
</div>

<!--Application statistics
ADD A CONTROLLER FOR THIS page => Request the API for informations
...
Number of events (onoing, upcoming, passed)
Number of Recruteurs
Number of Candidats
Number of Enterprises
Kind of jobs offered-->
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Statistics</h3>
    </div>
    <div class="panel-body">
        <div class="card col-md-4">
            <div class="card-block">
                <div class="card-title">
                    <h4>Quelques chiffres</h4>
                </div>
                <div class="card-text" style="padding: 20px;">
                    <p><span class="badge">{{nbCandidats}}</span> Candidats </p>
                    <p><span class="badge">{{nbRecruteurs}}</span> Recruteurs </p>
                    <p><span class="badge">{{nbEvents}} </span> Évènements </p>
                </div>
            </div>
        </div>
        <div class="card col-md-4">
            <div class="card-block">
                <div class="card-title">
                    <h4>Quelques noms d'entreprises</h4>
                </div>
                <div class="card-text" style="padding: 20px;">
                    <div ng-repeat="enterprise in Enterprises">
                        <p>{{enterprise}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-4">
            <div class="card-block">
                <div class="card-title">
                    <h4>Quelques noms de poste</h4>
                </div>
                <div class="card-text" style="padding: 20px;">
                    <div ng-repeat="job in Jobs">
                        <p>{{job}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>