<div class="container">
    <div class="col-sm-3 col-md-3"></div>

    <div class="col-sm-6 col-md-6">

        <div class="panel">
            <form method="POST" action="/login" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="user_email">Nom Admin</label>
                    <input type="email" required class="form-control" id="user_email" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="user_password">Mot de passe</label>
                    <input type="password" required class="form-control" id="user_password">
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>

    </div>
    <div class="col-sm-3 col-md-3"></div>
</div>
