<!--HTML Template for candidats home page
Gives access to profile page and accessible events
Accessed should be restreined by login with a Candidat User-->

<!--Nav bar-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">HireMe</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <!--<div ng-view>
		to improve:
		display signin/login if no session
		display logout if session
		</div>-->
            <li><a href="/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>


<div class="jumbotron text-center jumbo-candidat">

    <h3>{{ msgWelcomeCandidat }}</h3>
    <p>Vous devriez surveiller les évènements en cours ...</p>

</div>

<!-- Candidat Profile progress view + profile button -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Votre Profil<span class="badge pull-right">{{ profile_progressbar_valuenow }}%</span></h3>
    </div>
    <div class="panel-body">
        <p>Niveau de votre profil :</p>
        <div class="progress">
            <div class="{{profile_progressbar_class}}" role="progressbar" aria-valuenow="{{profile_progressbar_valuenow_string}}" aria-valuemin="0" aria-valuemax="100" style="{{profile_progressbar_style}}"></div>
        </div>
        <a href="/candidat/profile?id={{userResponse.data._id}}">
            <button ng-if="profile_progressbar_valuenow < 80" type="button" class="btn btn-default">Compléter</button>
            <button ng-if="profile_progressbar_valuenow >= 80" type="button" class="btn btn-default">Modifier</button>
        </a>
    </div>
</div>

<div ng-if="profile_progressbar_valuenow < 80" class="alert alert-warning">
    <p>Complétez encore votre profil pour accéder aux évènements !</p>
</div>

<div ng-if="profile_progressbar_valuenow >= 80">

    <!-- First choice events -->
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Evènements selectionnés pour vous<span class="badge pull-right">{{ selectedEventsCpt }}</span></h3>
            <p>Des évènements qui collent à votre profil !</p>
        </div>
        <div class="panel-body">
            <div ng-repeat="event in selectedEvents" class="col-6">
                <div class="thumbnail">
                    <img src="https://static.lexpress.fr/medias_8867/w_640,h_358,c_fill,g_center/v1393343940/recrutement-1_4540056.jpg" alt="Flat design Idea" class="pres-img-6">
                </div>
                <div class="caption">
                    <h4>{{event.name}}</h4>
                    <p>{{event.description.substring( 0, 160)}}...</p>
                    <p class="text-center">
                        <a href="/eventViewCandidat?id={{userResponse.data._id}}&eventId={{event._id}}" class="btn btn-primary" role="button">À propos</a>
                        <a href="/joinStreamCandidat?id={{userResponse.data._id}}&eventId={{event._id}}" class="btn btn-success" role="button">Rejoindre</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


<!-- Available events -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Evènements en cours<span class="badge pull-right">{{ onGoingEventsCpt }}</span></h3>
    </div>
    <div class="panel-body">
        <div ng-repeat="event in onGoingEvents" class="col-6 col-md-6 col-sm-6">
            <div class="thumbnail">
                <img src="https://static.lexpress.fr/medias_8867/w_640,h_358,c_fill,g_center/v1393343940/recrutement-1_4540056.jpg" alt="Flat design Idea" class="pres-img-6">
            </div>
            <div class="caption">
                <h4>{{event.name}}</h4>
                <p>{{event.description.substring( 0, 160)}}...</p>
                <p class="text-center">
                    <a href="/eventView?type=candidat&id={{userResponse.data._id}}&eventId={{event._id}}" class="btn btn-primary" role="button">À propos</a>
                    <a href="/joinStreamCandidat?id={{userResponse.data._id}}&eventId={{event._id}}" class="btn btn-success" role="button">Rejoindre</a>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Upcoming events -->
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Evènements à venir<span class="badge pull-right">{{ upComingEventsCpt }}</span></h3>
    </div>
    <div class="panel-body">
        <div ng-repeat="event in upComingEvents">
            <div class="col-6 col-md-6 col-sm-6">
                <div class="thumbnail">
                    <img src="https://static.lexpress.fr/medias_8867/w_640,h_358,c_fill,g_center/v1393343940/recrutement-1_4540056.jpg" alt="Flat design Idea" class="pres-img-6">
                </div>
                <div class="caption">
                    <h4>{{event.name}}</h4>
                    <p>{{event.description.substring( 0, 160)}}...</p>
                    <p class="text-center">
                        <a href="/eventView?type=candidat&id={{userResponse.data._id}}&eventId={{event._id}}" class="btn btn-primary" role="button">À propos</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Passed events -->
<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Evènements passés<span class="badge pull-right">{{ passedEventsCpt }}</span></h3>
    </div>
    <div class="panel-body">
        <div ng-repeat="event in passedEvents">
            <div class="col-6 col-md-6 col-sm-6">
                <div class="thumbnail">
                    <img src="https://static.lexpress.fr/medias_8867/w_640,h_358,c_fill,g_center/v1393343940/recrutement-1_4540056.jpg" alt="Flat design Idea" class="pres-img-6">
                </div>
                <div class="caption">
                    <h4>{{event.name}}</h4>
                    <p>{{event.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>