<div class="jumbotron text-center">

	<h1>Acceuil Candidats</h1>

	<p>{{ messageForAllCandidats }}</p>

</div>

<div class="panel-group">

  <div class="panel panel-primary">
    <div class="panel-heading">Formulaire d'inscription</div>
    <div class="panel-body">
		<p>{{ messageForNewCandidats }}</p>
			<button type="button" class="btn btn-primary">Inscription</button>
		</div>
  </div>

	<div class="panel panel-success">
		<div class="panel-heading">Panneau de connection</div>
		<div class="panel-body">
			<p>Si vous êtes déjà inscrit, connectez-vous ici !</p>
			<form method="POST" action="/login">
			<div class="form-group">
				<label for="exampleInputEmail1">Addresse Email</label>
				<input type="email" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrez votre addresse mail">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Mot de passe</label>
				<input type="password" required class="form-control" id="exampleInputPassword1" placeholder="Mot de passe">
				<input type="submit" class="form-control" value="Connection">
			</div>
			</form>
		</div>
	</div>
</div>