<!--HTML Template for candidat profile page
Accessed should be restreined by login with a Candidat User
Allow a Candidat to modify his informations
and add/remove Experiences/Connaissances-->

<!--Nav bar-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">HireMe</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/home"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>

<div class="jumbotron text-center">
    <h1>Profil Candidat</h1>
    <p>Complétez votre profil pour accéder aux évènements !</p>
</div>

<!--Print user information with the possibility to update them-->
<div class="panel panel-default">

    <div class="panel-heading">
        <h3>Informations utilisateur</h3>
    </div>

    <div class="panel-body">

        <!--lastname-->
        <!--firstname-->
        <!--email-->

        <form enctype="application/json" method="POST" action=" {{post_url}} ">
            <input type="hidden" name="_METHOD" value="PUT" />
            <ul class="list-group ">
                <li class="list-group-item ">
                    <span class="glyphicon glyphicon-user "></span> &nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label label-default ">First name</span>
                    <span class="text-center ">{{userResponse.data.firstname}}</span>
                    <br/><br/>
                    <input type="text " class="form-control " placeholder="firstname " name="firstname ">
                    <br/>
                </li>
                <li class="list-group-item ">
                    <span class="glyphicon glyphicon-user "></span> &nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label label-default ">Last name</span>
                    <span class="text-center ">{{userResponse.data.lastname}}</span>
                    <br/><br/>
                    <input type="text " class="form-control " placeholder="lastname " name="lastname ">
                    <br/>
                </li>
                <li class="list-group-item ">
                    <span class="glyphicon glyphicon-envelope "></span> &nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label label-default ">Email</span>
                    <span class="text-center ">{{userResponse.data.email}}</span>
                    <br/><br/>
                    <input type="text " class="form-control " placeholder="email " name="email ">
                    <br/>
                </li>
            </ul>

            <span class=" pull-right ">
                <button class="btn btn-default " type="submit ">Change informations</button>
                <a href="# "><button class="btn btn-warning ">Change password</button></a>
            </span>

        </form>

    </div>

    <div class="panel-footer ">
        <p>Vous pouvez modifier vos informations personnelles autant que vous le souhaitez.</p>
    </div>

</div>
<!--View connaissances-->
<!--Form add connaissance-->
<!--View experiences-->
<!--Form add experiences-->
<!--Print user information with the possibility to update them-->
<div class="row ">
    <div class="col-6 col-md-6 col-sm-4 ">
        <div class="panel panel-default ">

            <div class="panel-heading ">
                <h3>Connaissances</h3>
            </div>

            <div class="panel-body ">
                <div ng-repeat="connaissance in userResponse.data.connaissances ">

                </div>
            </div>

            <div class="panel-footer ">

            </div>

        </div>
    </div>
    <div class="col-6 col-md-6 col-sm-4 ">
        <div class="panel panel-default ">

            <div class="panel-heading ">
                <h3>Experiences</h3>
            </div>

            <div class="panel-body ">
                <div ng-repeat="experience in userResponse.data.experiences ">

                </div>

            </div>

            <div class="panel-footer ">

            </div>

        </div>
    </div>
</div>