<!--HTML Template for event edition page
Allow Recruteur to edit an Event(s)-->

<!--Nav bar-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">HireMe</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/recruteur?id={{id}}"><span class="glyphicon glyphicon-menu-left"></span> Retour</a></li>
            <li><a href="/home"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>

<form method="POST" action="/event/edit">
    <ul class="list-group">
        <li class="list-group-item">
            <span class="label label-default">Nom de l'évènement</span>
            <br/><br/>{{userResponse.data.name}}<br/><br/>
            <input type="text" class="form-control" placeholder="nom évènement" name="newEventName" id="newEventName">
        </li>
        <li class="list-group-item">
            <span class="label label-default">Description</span>
            <br/><br/>{{userResponse.data.description}}<br/><br/>
            <textarea class="form-control" rows="5" id="description" name="newEventDescription" id="newEventDescription"></textarea>
        </li>
        <li class="list-group-item">
            <span class="label label-default">Date de début</span>
            <br/><br/>{{userResponse.data.dateBegin.toString()}}<br/><br/>
            <input type="text" class="form-control" placeholder="date début YYYY-MM-DD" name="newEventDateBegin" id="newEventDateBegin">
        </li>
        <li class="list-group-item">
            <span class="label label-default">Date de fin</span>
            <br/><br/>{{userResponse.data.dateEnd.toString()}}<br/><br/>
            <input type="text" class="form-control" placeholder="date fin YYYY-MM-DD" name="newEventDateEnd" id="newEventDateEnd">
        </li>
        <li class="list-group-item">
            <span class="label label-default">Conaissances requises</span>
            <div ng-repeat="connaissance in userresponse.data.connaissances">
                <br/><br/>{{connaissance.name}}<br/><br/>
                <div ng-if="connaissance.level">
                    <span class="label label-default">{{connaissance.level}}</span>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <span class="label label-default">Expérience requise</span>
            <div ng-repeat="experience in userresponse.data.experiences">
                <br/><br/>{{experience.jobName}}<br/><br/>
                <div ng-if="experience.level">
                    <span class="label label-default">{{connaissance.level}}</span>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <button class="btn btn-default" type="submit">Envoyer</button>
        </li>
    </ul>

    <input type="hidden" name="recruteurId" value="{{id}}" />
    <input type="hidden" name="eventId" value="{{eventId}}" />
</form>