<!--Add a controller
Display event's details
Button to launch live stream session
...-->

<!--Nav bar-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">HireMe</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a ng-href="/{{accountType}}?id={{id}}"><span class="glyphicon glyphicon-menu-left"></span> Retour</a></li>
            <li><a href="/home"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>

<!--Print user information with the possibility to update them-->
<div class="panel panel-info">

    <div class="panel-heading">
        <h3>Informations Évènement</h3>
    </div>

    <div class="panel-body">

        <ul class="list-group ">
            <li class="list-group-item ">
                <span class="glyphicon glyphicon-info-sign"></span> &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="label label-default ">Nom</span> &nbsp;&nbsp;&nbsp;&nbsp;
                <p style="text-align: right" class="BIG">{{eventResponse.data.name}}</p>
            </li>
            <li class="list-group-item ">
                <span class="glyphicon glyphicon-info-sign"></span> &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="label label-default ">Description</span> &nbsp;&nbsp;&nbsp;&nbsp;
                <p style="padding: 25px;">{{eventResponse.data.description}}</p>
            </li>
            <li class="list-group-item ">
                <span class="glyphicon glyphicon-eye-open"></span> &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="label label-default ">Date de début</span> &nbsp;&nbsp;&nbsp;&nbsp;
                <p style="text-align: right" class="BIG">{{eventResponse.data.dateBegin.split('T')[0].toString()}}</p>
            </li>
            <li class="list-group-item ">
                <span class="glyphicon glyphicon-eye-close"></span> &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="label label-default ">Date de fin</span> &nbsp;&nbsp;&nbsp;&nbsp;
                <p style="text-align: right" class="BIG">{{eventResponse.data.dateEnd.split('T')[0].toString()}}</p>
            </li>
            <li class="list-group-item ">
                <span class="glyphicon glyphicon-lock"></span> &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="label label-default ">Entreprise</span> &nbsp;&nbsp;&nbsp;&nbsp;
                <p style="text-align: right" class="BIG">{{eventResponse.data.enterpriseName}}</p>
            </li>
            <li class="list-group-item ">
                <span class="glyphicon glyphicon-user"></span> &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="label label-default ">Recruteur(s)</span> &nbsp;&nbsp;&nbsp;&nbsp;
                <ul>
                    <li ng-repeat="recruteur in eventResponse.data.recruteurs" class="margin-10">{{recruteur.email}}</li>
                </ul>
            </li>
            <li class="list-group-item ">
                <span class="glyphicon glyphicon-lock"></span> &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="label label-default ">Connaissances requises</span> &nbsp;&nbsp;&nbsp;&nbsp;
                <ul>
                    <li ng-repeat="connaissance in eventResponse.data.connaissancesRequises" class="margin-10">{{connaissance.name}}</li>
                </ul>
            </li>
            <li class="list-group-item ">
                <span class="glyphicon glyphicon-lock"></span> &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="label label-default ">Expériences requises</span> &nbsp;&nbsp;&nbsp;&nbsp;
                <ul>
                    <li ng-repeat="experience in eventResponse.data.experiencesRequises" class="margin-10">{{experience.jobName}}</li>
                </ul>
            </li>
        </ul>

    </div>

    <div class="panel-footer ">
    </div>

</div>