<!--HTML Template for home page
Informations and Communications-->

<!--Nav bar-->
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/home">HireMe</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<!--<div ng-view>
				to improve:
				display signin/login if no session
				display logout if session
			</div>-->
			<li><a href="/signin"><span class="glyphicon glyphicon-user"></span> Inscription</a></li>
			<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		</ul>
	</div>
</nav>

<!--Présentation de l'application-->
<div class="row">
	<div class="col-sm-12 col-md-12">
		<div class = "thumbnail">
			<img src="https://cdn2.iconfinder.com/data/icons/education-e-learning/64/DISCOVER_01-512.png" alt="Flat design Idea" class="pres-img">
		</div>
		<div class="caption">
			<h3>Présentation de l'application !</h3>
			<p>Hire-Me est un projet école d'application web. 
			Le but est de fournir les mêmes services qu'une application comme LinkedIn 
			ou bien Indeed en terme de recherche de poste à pourvoire, avec en plus, 
			des entretiens en live streaming entre les candidats et les recruteurs des entreprises. 
			Ainsi, au même endroit, on pourrait chercher un poste, candidater et passer l'entretien. 
			Le reste n'étant pas de notre ressort !</p>
		</div>
		<p><a href="/about" class="btn btn-success" role="button">En savoir plus !</a></p>
	</div>
</div>

<!--Présentation des profils utilisateurs-->
<div class="row">
	<div class="col-6 col-md-6">
		<div class = "thumbnail">
			<img src="https://static.lexpress.fr/medias_8867/w_640,h_358,c_fill,g_center/v1393343940/recrutement-1_4540056.jpg" alt="Flat design Idea" class="pres-img">
		</div>
		<div class="caption">
			<h3>Profil des Candidats</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas blandit augue et cursus feugiat. Vivamus condimentum feugiat leo, sit amet tincidunt eros aliquam id. Morbi libero lorem, condimentum at turpis vehicula, interdum laoreet ipsum. Morbi elit dui, iaculis in faucibus vulputate, tempor non ex. Class aptent taciti sociosqu ad litora.</p>
		</div>
	</div>

	<div class="col-8 col-md-6">
		<div class = "thumbnail">
			<img src="https://p5.storage.canalblog.com/56/30/1152615/96116347_o.jpg" alt="Flat design Idea" class="pres-img">
		</div>
		<div class="caption">
			<h3>Profil des Recruteurs</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas blandit augue et cursus feugiat. Vivamus condimentum feugiat leo, sit amet tincidunt eros aliquam id. Morbi libero lorem, condimentum at turpis vehicula, interdum laoreet ipsum. Morbi elit dui, iaculis in faucibus vulputate, tempor non ex. Class aptent taciti sociosqu ad litora.</p>
		</div>
	</div>
</div>
