<!-- HEADER -->
	<nav class="navbar navbar-inverse">
		<div class="navbar-header">
			<a class="navbar-brand" href="/home">Home</a>
		</div>
		<ul class="nav navbar-nav pull-right">
			<!--<div ng-view>
				to improve:
				display signin/login if no session
				display logout if session
			</div>-->
			<li><a href="/signin">Inscription</a></li>
			<li><a href="/login">Login</a></li>
		</ul>
	</nav>

<div class="jumbotron text-center">

	<p>{{ msgWelcomeHome }}</p>

</div>

  <div class="panel panel-primary">
    <div class="panel-body">
        <h3>Présentation de l'application !</h3>
        <p>Pour en savoir plus cliquez sur le bouton ci-dessous !</p>
        <p><a href="/about" class="btn btn-primary" role="button">En savoir plus !</a>
    </div>
  </div>