<!--Nav bar-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">HireMe</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/candidat?id={{_id}}"><span class="glyphicon glyphicon-menu-left"></span> Retour</a></li>
            <li><a href="/home"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>

<div class="row">
    <div class="col-6 col-md-6 col-sm-6 ">
        <div class="thumbnail">
            <img src="http://vignette1.wikia.nocookie.net/eastenders/images/f/f6/Under-construction.png/revision/latest?cb=20141120185311"/>
        </div>
        <div class="caption">
            ### caméra recruteur
        </div>
    </div>
    <div class="col-6 col-md-6 col-sm-6 ">
        <div class="thumbnail">
            <img src="http://vignette1.wikia.nocookie.net/eastenders/images/f/f6/Under-construction.png/revision/latest?cb=20141120185311"/>
        </div>
        <div class="caption">
            ### caméra candidat
        </div>
    </div>
</div>

<div class="row">
    <div class="col-4 col-md-4 col-sm-4 ">
        
    </div>
    <div class="col-4 col-md-4 col-sm-4 ">
        <div class="thumbnail">
            <p>TCHAT TEMPLATE</p>
            <p>Under construction</p>
        </div>
        <div class="caption">
            ### chat - recevez les codes d'accès'
        </div>
    </div>
    <div class="col-4 col-md-4 col-sm-4 ">
        
    </div>
</div>