<form method="POST" action="/login">

    <div class="panel panel-primary">
        <div class="panel-body">
            <form method="POST" action="/login" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="user_email">Addresse Email</label>
                    <input type="email" required class="form-control" id="user_email" aria-describedby="emailHelp" placeholder="Entrez votre addresse mail">
                </div>
                <div class="form-group">
                    <label for="user_password">Mot de passe</label>
                    <input type="password" required class="form-control" id="user_password" placeholder="Mot de passe">
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>

</form>