<!-- HEADER -->
	<nav class="navbar navbar-inverse">
		<div class="navbar-header">
			<a class="navbar-brand" href="/home">Home</a>
		</div>
		<ul class="nav navbar-nav pull-right">
			<!--<div ng-view>
				to improve:
				display signin/login if no session
				display logout if session
			</div>-->
			<li><a href="/signin">Inscription</a></li>
			<li><a href="/login">Login</a></li>
		</ul>
	</nav>

<form enctype='application/json' method="POST" action="/login">

    <div class="panel panel-primary">
        <div class="panel-body">
            <form method="POST" action="/login" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="email">Addresse Email</label>
                    <input type="email" required class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Entrez votre addresse mail">
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" required class="form-control" id="password" name="password" placeholder="Mot de passe">
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>

</form>