<div class="jumbotron text-center">

	<h1>Acceuil Recruteurs</h1>

	<p>{{ messageForAllRecruteurs }}</p>
	<p>{{ messageForNewRecruteurs }}</p>

</div>

<div class="panel-group">

	<div class="panel panel-info">
		<div class="panel-heading">Panel with panel-info class</div>
		<div class="panel-body">Panel Content</div>
	</div>

  <div class="panel panel-primary">
    <div class="panel-heading">Inscription form</div>
    <div class="panel-body">
			<p>{{ messageForNewCandidats }}</p>
			<button type="button" class="btn btn-primary">Sign In here !</button>
		</div>
  </div>

  <div class="panel panel-success">
    <div class="panel-heading">Login</div>
    <div class="panel-body">
			<p>Login here !</p>
			<button type="button" class="btn btn-success">Login</button>
		</div>
  </div>

</div>
