<!--HTML Template for recruteur profile page
Accessed should be restreined by login with a Recruteur User
Allow a Recruteur to modify his informations
and add/remove Enterprise-->

<!--Nav bar-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">HireMe</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/recruteur?id={{userResponse.data._id}}"><span class="glyphicon glyphicon-menu-left"></span> Retour</a></li>
            <li><a href="/home"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>

<div class="jumbotron text-center">
    <h1>Profil Recruteur</h1>
</div>

<!--Print user information with the possibility to update them-->
<div class="panel panel-default">

    <div class="panel-heading">
        <h3>Informations utilisateur</h3>
    </div>

    <div class="panel-body">

        <!--lastname-->
        <!--firstname-->
        <!--email-->

        <form enctype="application/json" method="POST" action=" {{post_url}} ">
            <input type="hidden" name="_METHOD" value="PUT" />
            <ul class="list-group ">
                <li class="list-group-item ">
                    <span class="glyphicon glyphicon-user "></span> &nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label label-default ">First name</span> &nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="text-center ">{{userResponse.data.firstname}}</span>
                </li>
                <li class="list-group-item ">
                    <span class="glyphicon glyphicon-user "></span> &nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label label-default ">Last name</span> &nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="text-center ">{{userResponse.data.lastname}}</span>
                </li>
                <li class="list-group-item ">
                    <span class="glyphicon glyphicon-envelope "></span> &nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label label-default ">Email</span> &nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="text-center ">{{userResponse.data.email}}</span>
                    <br/><br/>
                    <input type="text " class="form-control " placeholder="modify email " name="email ">
                    <br/>
                    <button class="btn btn-success " type="submit ">Change </button>
                </li>
                <li class="list-group-item ">
                    <span class="glyphicon glyphicon-briefcase "></span> &nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="label label-default ">Entreprise</span> &nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="text-center ">{{userResponse.data.enterpriseName}}</span>
                    <br/><br/>
                    <input type="text " class="form-control " placeholder="changer entreprise" name="email ">
                    <br/>
                    <button class="btn btn-success " type="submit ">Change </button>
                </li>
            </ul>

            <span class=" pull-right ">
                <a href="# "><button class="btn btn-warning ">Change password</button></a>
            </span>

        </form>

    </div>

    <div class="panel-footer ">
        <p>Vous pouvez modifier vos informations personnelles autant que vous le souhaitez.</p>
    </div>

</div>
<!--View enterprise-->
<!--Change enterprise-->