<!--HTML Template for recruteur profile page
Accessed should be restreined by login with a Recruteur User
Allow a Recruteur to modify his informations
and add/remove Enterprise-->

<!--Nav bar-->
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/home">HireMe</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<!--<div ng-view>
				to improve:
				display signin/login if no session
				display logout if session
			</div>-->
			<li><a href="/home"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		</ul>
	</div>
</nav>

<div class="jumbotron text-center">

	<h1>Profil Recruteur</h1>

</div>

<!--Print user information with the possibility to update them-->
<!--lastname-->
<!--firstname-->
<!--email-->
<!--Button change password-->
<!--View enterprise-->
<!--Change enterprise-->