<!--HTML Template for recruteurs home page
Gives access to profile page and event creation
Accessed should be restreined by login with a Recruteur User-->

<!-- Nav bar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">HireMe</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <!--<div ng-view>
				to improve:
				display signin/login if no session
				display logout if session
			</div>-->
            <li><a href="/home"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>

<div class="jumbotron text-center">

    <h3>{{ msgWelcomeRecruteur }}</h3>
    <p>Contrôlez vos évènements ...</p>

</div>

<!-- Recruteur Profile progress view + profile button -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Votre Profil<span class="badge pull-right">{{ profile_progressbar_valuenow }}%</span></h3>
    </div>
    <div class="panel-body">
        <p>Niveau de votre profil :</p>
        <div class="progress">
            <div class="{{profile_progressbar_class}}" role="progressbar" aria-valuenow="{{profile_progressbar_valuenow_string}}" aria-valuemin="0" aria-valuemax="100" style="{{profile_progressbar_style}}"></div>
        </div>
        <a href="/recruteur/profile?id={{userResponse.data._id}}"><button type="button" class="btn btn-default">Compléter</button></a>
    </div>
</div>

<div ng-if="profile_progressbar_valuenow < 80" class="alert alert-warning">
    <p>Complétez encore votre profil pour contrôler des évènements !</p>
</div>

<div ng-if="profile_progressbar_valuenow >= 80">

    <p><a href="/event/createform?id={{userResponse.data._id}}"><button class="btn btn-default">Créer un event</button></a></p>

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Evènements en cours<span class="badge pull-right">{{ onGoingEventsCpt }}</span></h3>
        </div>
        <div class="panel-body">
            <div ng-repeat="event in onGoingEvents" class="col-6 col-md-6 col-sm-6">
                <div class="thumbnail">
                    <img src="https://static.lexpress.fr/medias_8867/w_640,h_358,c_fill,g_center/v1393343940/recrutement-1_4540056.jpg" alt="Flat design Idea" class="pres-img-6">
                </div>
                <div class="caption">
                    <h4>{{event.name}}</h4>
                    <p class="text-center">
                        <a href="/eventView?type=recruteur&id={{userResponse.data._id}}&eventId={{event._id}}" class="btn btn-primary" role="button">À propos</a>
                        <a href="/joinStreamRecruteur?id={{userResponse.data._id}}&eventId={{event._id}}" class="btn btn-success" role="button">Rejoindre</a>
                        <a href="/event/editform?id={{userResponse.data._id}}&eventId={{event._id}}" class="btn btn-warning" role="button">&nbsp;&nbsp;Éditer&nbsp;&nbsp;</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Upcoming events -->
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Evènements à venir<span class="badge pull-right">{{ upComingEventsCpt }}</span></h3>
        </div>
        <div class="panel-body">
            <div ng-repeat="event in upComingEvents" class="col-6 col-md-6 col-sm-6">
                <div class="thumbnail">
                    <img src="https://static.lexpress.fr/medias_8867/w_640,h_358,c_fill,g_center/v1393343940/recrutement-1_4540056.jpg" alt="Flat design Idea" class="pres-img-6">
                </div>
                <div class="caption">
                    <h4>{{event.name}}</h4>
                    <p class="text-center">
                        <a href="/eventView?type=recruteur&id={{userResponse.data._id}}&eventId={{event._id}}" class="btn btn-primary" role="button">À propos</a>
                        <a href="/event/editform?id={{userResponse.data._id}}&eventId={{event._id}}" class="btn btn-warning" role="button">&nbsp;&nbsp;Éditer&nbsp;&nbsp;</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Passed events -->
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">Evènements passés<span class="badge pull-right">{{ upComingEventsCpt }}</span></h3>
        </div>
        <div class="panel-body">
            <div ng-repeat="event in passedEvents" class="col-6 col-md-6 col-sm-6">
                <div class="thumbnail">
                    <img src="https://static.lexpress.fr/medias_8867/w_640,h_358,c_fill,g_center/v1393343940/recrutement-1_4540056.jpg" alt="Flat design Idea" class="pres-img-6">
                </div>
                <div class="caption">
                    <h4>{{event.name}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>