body {
    padding-top: 30px;
}

.pres-img {
    max-height: 300px;
    max-width: 300px;
    width: 40%;
    height: 40%;
    margin: 25px;
    padding: 25px;
}

.myAnimatedContent {
    position: relative;
    -webkit-animation-name: example;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite;
    /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes example {
    0% {
        left: 0px;
        top: 0px;
    }
    25% {
        background-color: black;
        left: 5px;
        top: 0px;
    }
    50% {
        background-color: blue;
        left: 5px;
        top: 5px;
    }
    75% {
        background-color: green;
        left: 0px;
        top: 5px;
    }
    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}


/* Standard syntax */

@keyframes example {
    0% {
        left: 0px;
        top: 0px;
    }
    25% {
        background-color: black;
        left: 5px;
        top: 0px;
    }
    50% {
        background-color: blue;
        left: 5px;
        top: 5px;
    }
    75% {
        background-color: green;
        left: 0px;
        top: 5px;
    }
    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}

.baseTarget {
    color: darkcyan;
}

.viewControls {
    margin: 20px;
}

.eventView {
    margin: 20px;
}

.simpleBtn {
    background: none;
    padding: 0;
    border: none;
}

.activedBtn {
    color: green;
}

.unactivedBtn {
    color: lightgray;
}

.invisible {
    display: none;
}

.inline {
    display: inline;
}

.smallTitle {
    font-size: medium;
    margin-right: 15px;
}

.smallDesc {
    font-size: small;
}

.spaced {
    padding: 5px;
}

.BIG {
    padding: 15px;
    font-size: xx-large;
}

.largeTxt {
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    /* Required to make ellipsis work */
    text-overflow: ellipsis;
    /* Starting transition */
    left: 0%;
    width: 100%;
    /* Tweak 'till your heart's content */
    -webkit-transition: left 3s, width 3s;
    -moz-transition: left 3s, width 3s;
    transition: left 3s, width 3s;
}


/* The magic! */

.largeTxt:hover {
    /* This is not completely accurate. It resizes to 2x the current width. */
    left: -50%;
    width: 150%;
}

.eventImg {
    width: "80%";
    height: "45%";
}

.margin-10 {
    margin: 10px;
}

.align-right {
    text-align: right;
}